# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystem are summarized.

**Objectives:**

- Popular languages for Data Science
- Commonly used Libraries for Data Science
- List of Data Science Tools
- Examples of Arithmetic expressions in Python

Some of the languages that Data Scienctists use are: 

1. Python
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
 1. Pandas
 2. NumPy
 3. MatPlotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebooks |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
#This a simple arithmetic expression to mutiply then add integers. 
x = (3*4)+5 
print(x)

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
y = 200 / 60
z = round(y, 2)
print(z, "hours")

3.33 hours

## Author 
Shiva Kavya Golla